<script>
export default {

}
</script>

<template>
    <div class="main">
        <div class="authors">
            <div class="student">
                開發人員: 顏于傑、楊詠婷、郭羽婕、吳彤瑋、張晴筑
            </div>
            <div class="teacher">
               指導老師: 張介仁 教授
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: center;
    box-sizing:border-box;
    padding: 1%;
    background-color: rgb(195, 182, 172);
    >.authors{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        width: 30%;
        height: 100%;
        margin-left: 70%;
        @media screen and (max-width: 524px) {
            width: 100%;
            margin-left: 0%;
        }
        >.student{
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            color:  #3c3636;
            font-family: 標楷體;
            @media screen and (max-width: 524px) {
                font-size: 15px;
            }
        }
        >.teacher{
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            color:  #3c3636;
            font-family: 標楷體;
            @media screen and (max-width: 524px) {
                font-size: 15px;
            }
        }
    }
}
</style>