<script>
export default {

}
</script>

<template>
  <div class="main">
      <div class="left-tool">
          
      </div>
      <div class="logo">
      </div>
      <div class="title">
          房屋估價小精靈
      </div>
      <div class="right-tool">

      </div>
  </div>
</template>

<style lang="scss" scoped>
.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: left;
    align-content: center;
    box-sizing: border-box;
    background-color: rgb(195, 182, 172);
    >.left-tool{
        display: flex;
        align-content: center;
        width: 30%;
        height: 80px;
    }
    >.logo{
        width: 5%;
        height: 80px;
        box-sizing: border-box;
        background-image: url("~@/assets/images/logo.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 75%;
        @media screen and (max-width: 524px) {
            width: 20%
        }

    }
    >.title{
        width: 35%;
        height: 80px;
        line-height: 80px;
        text-align: left;
        font-size: 35px;
        font-weight: bold;
        color:  #3c3636;
        font-family: 標楷體;
        @media screen and (max-width: 524px) {
            width: 40%;
            font-size: 20px;
        }
    }
    >.right_tool{
        display: flex;
        align-content: center;
        width: 30%;
        height: 80px;
        @media screen and (max-width: 524px) {
            width: 10%;
        }
    }
}
</style>