<script>
import Header from '@/components/Header.vue'
import Valuation from '@/components/Valuation.vue'
import Bottom from '@/components/Bottom.vue'

export default {
  name: 'HomeView',
  components: {
    Header,
    Valuation,
    Bottom,
  }
}
</script>

<template>
  <div class="home">
    <div class="header">
      <Header />
    </div>
    <div class="main">
      <div class="valuation">
        <Valuation />
      </div>
      <div class="bottom">
        <Bottom />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.home{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    >.header{
      width: 100%;
      height: 10%;
    }
    >.main{
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 100%;
      height: 90%;
      overflow: auto;
      >.valuation{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 900px;
      }
      >.bottom{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        overflow: hidden;
      }
    }
}
</style>